    body {
        width: 100vh;
        height: 100vh;
        background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    }
    
    h1 {
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 30px;
        color: hsl(238, 29%, 16%);
        position: absolute;
        margin-top: -50px;
    }
    
    h2 {
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 14px;
        color: hsl(238, 29%, 16%);
        font-weight: 400;
    }
    
    p {
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 12px;
    }
    
    .card {
        width: 920px;
        height: 510px;
        background-color: white;
        border-radius: 25px;
        margin-right: 280px;
        margin-left: 280px;
        margin-top: 120px;
        margin-bottom: 120px;
        background-image: url(/images/bg-pattern-desktop.svg);
        background-position: left -525px top -275px;
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: 0px 20px 20px hsl(240, 73%, 65%);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 60px;
    }
    
    .box {
        margin-left: -93px;
        margin-right: 0;
        margin-top: 120px;
        display: flex;
        max-width: 93px;
        z-index: 1;
    }
    
    .graphics {
        background-image: url(/images/illustration-woman-online-desktop.svg);
        background-repeat: no-repeat;
        background-position-x: -70px;
    }
    
    .title {
        margin-left: 475px;
        margin-top: 55px;
    }
    
    .accordion {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: left;
        margin-right: 90px;
        margin-left: 475px;
        position: relative;
        max-width: 350px;
        margin-top: 65px;
    }
    
    .question {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
    }
    
    .arrow {
        width: 12px;
        height: 8px;
    }
    
    .question h2:active {
        color: hsl(14, 88%, 65%);
    }
    
    .question h2:hover {
        color: hsl(14, 88%, 65%);
    }
    
    .answer {
        position: relative;
        overflow: hidden;
        height: 0;
        transition: 0.3s;
    }
    
    hr {
        background-color: hsl(240, 5%, 91%);
        height: 2px;
        border: none;
        width: 350px;
    }
    
    .accordion .faq.active .answer {
        height: 45px;
        display: flex;
        align-items: center;
    }
    
    .accordion .faq.active h2 {
        font-weight: 700;
    }